{% extends 'blog/base.html' %}
{% block content %}

<h1>Post Details</h1>

    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<br>
<a href="{% url 'posts' %}" class="btn btn-outline-primary">Back</a>
<hr>
       <strong>{{blog.blog_title }}</strong> 
        <br>
        {{ blog.blog_post }}


        <br>
        {% if blog.author == request.user %}
        <a href="{% url 'update_post' id=blog.id %}" class="btn btn-outline-primary">Edit</a> - 
        <a href="{% url 'delete_post' id=blog.id %}" class="btn btn-outline-danger">Delete</a>
        {% else %}
        
        {% endif %}

{% endblock %}